{% extends "index.html" %}
{% block content %}
<div class="mylanguage-bar d-flex justify-content-between align-items-center text-center">
    <div class="mytitlebar flex-grow-1 " style="margin-left: 150px;">
        Applicant Tracking
    </div>
    <div>
        <a href="/en/switch_to_fr" class="btn btn-outline-light">Français</a>
        <a href="/fr/switch_to_en" class="btn btn-outline-light">Anglais</a>
    </div>
</div>
<div class="mylogin-bar text-center mb-5">
    Connectez-vous à votre compte
</div>
<div class="container mt-5">
    <h1 class="text-center">Inscription</h1>
    <form method="POST" action="/fr/register" class="mt-4">
        <div class="mb-3">
            <label for="username" class="form-label">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Entrez votre nom d'utilisateur" required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Prénom</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Entrez votre prénom" required>
        </div>
        <div class="mb-3">
            <label for="surname" class="form-label">Nom</label>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Entrez votre nom" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Adresse e-mail</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Entrez votre adresse e-mail" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Entrez votre mot de passe" required>
        </div>
        <div class="mb-3">
            <label for="password_confirm" class="form-label">Confirmez le mot de passe</label>
            <input type="password" id="password_confirm" name="password_confirm" class="form-control" placeholder="Confirmez votre mot de passe" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>
    </form>
</div>
{% endblock %}